/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --accent-color: #000000;
  --bg-color: #FFFFFF;
  --accent-font: 'Press Start 2P';
  --main-font: 'Inter';
  --title-weihgt: 700;
  --text-weight:400;
  --bg-image:
    repeating-linear-gradient(
      #d3d3d3 0px,
      transparent  2px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      transparent  2px
    ),
    linear-gradient(to bottom,#e7e7e7, #1a1a1a);
    --main-gap: 50px;
    --accent-text-sise: 14px;
    --watermark-stroke: white;
    --watermark-fill: black;
    --text-difference: white;
    --heart-color:#FF0000;
    --accent-opasity-color:rgba(0, 0, 0, .6);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #000000;
    --bg-color: #FFFFFF;
    --accent-font: 'Press Start 2P';
    --main-font: 'Inter';
    --title-weihgt: 700;
    --text-weight:400;
    --bg-image:
    repeating-linear-gradient(
      #d3d3d3 0px,
      transparent  2px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      transparent  2px
    ),
    linear-gradient(to bottom,#e7e7e7, #1a1a1a);
    --main-gap: 50px;
    --accent-text-sise: 14px;
    --watermark-stroke: white;
    --watermark-fill: black;
    --text-difference: white;
    --heart-color:#FF0000;
    --accent-opasity-color:rgba(0, 0, 0, .6);
  }
  
}

:root.theme-dark {
  --accent-color: #00CC14;
  --bg-color: #000000;
  --accent-font: 'Press Start 2P';
  --main-font: 'Inter';
  --title-weihgt: 785;
  --text-weight:465;
  --bg-image:
    repeating-linear-gradient(
      #000 0px,
      transparent  2px
    ),
    repeating-linear-gradient(
      90deg,
      #000 0px,
      transparent  2px
    ),
    linear-gradient(to bottom,#007f0c, #004306);
  --watermark-stroke: black;
  --watermark-fill: #00CC14;
  --text-difference: #00CC14;
  --heart-color:#FF0000;
  --accent-opasity-color: rgb(0, 204, 20, .6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #00CC14;
    --bg-color: #000000;
    --accent-font: 'Press Start 2P';
    --main-font: 'Inter';
    --title-weihgt: 785;
    --text-weight:465;
    --bg-image:
    repeating-linear-gradient(
      #000 0px,
      transparent  2px
    ),
    repeating-linear-gradient(
      90deg,
      #000 0px,
      transparent  2px
    ),
    linear-gradient(to bottom,#007f0c, #004306);
    --watermark-stroke: black;
    --watermark-fill: #00CC14;
    --text-difference: #00CC14;
    --heart-color:#FF0000;
    --accent-opasity-color: rgb(0, 204, 20, .6);
  }
}